#app2>.tab-bar {
    display: flex;
}

#app2>.tab-bar>li {
    width: 80px;
    height: 30px;
    padding: 2px 8px;
}

#app2>.tab-bar>li.selected {
    background-color: burlywood;
}

#app2>.tab-content>li {
    display: none;
}

#app2>.tab-content>li.active {
    display: block;
}